langgraph==1.2.0
chainlit==2.11.1
langchain==1.3.0
langchain-community==0.4.1
langchain-openai==1.2.2
langchain-text-splitters==1.1.2
sqlalchemy>=2.0.0
psycopg[binary]>=3.1.0
boto3>=1.34.0
pypdf>=4.0.0
pdfplumber>=0.10.0
python-dotenv>=1.0.0
pydantic>=2.0.0
json_repair>=0.25.0
celery==5.6.3
redis>=5.0.0
python-docx>=1.1.0
openpyxl>=3.1.0
pgvector>=0.2.0
langchain-ollama
psycopg-pool
langgraph-checkpoint-postgres==3.1.0
asyncpg
markitdown[pdf,docx,pptx,xlsx]==0.1.6
sentence-transformers
transformers
torch
serpapi


